* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
  display: grid;
align-items:center;
justify-content: center;


  display: flex;
    transition: background-color .5s;
}

.header{
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/loginbg.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    display:flex ;
    padding: 2% 6%;
    justify-content:space-between;
    align-items: center;
}

nav img {
    width:200px;
}

.nav-links{
    flex:1;
    text-align:right;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:22px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

.avatar img{
    width: 60px;
    padding: 8px 12px;
    vertical-align: right;
    
}

.avatar-container{
    display: flex;
}

/*
.avatar-container:hover .avatar-sub-menu{
    display: block;
    position: absolute;
    background:rgb(0,100,0);
    margin-top: 10px;
    margin-left:-15px;
}*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: auto;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
 .loginbox{
	width: 320px;
	height:420px;
	background: #000;
	color: #fff;
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;	
  }
  

  .login_avatar{
	width:100px;
	height:100px;
	border-radius:100%;
	position: absolute;
	top:-50px;
	left: calc(50% - 50px)
  }

  .loginbox h1{
	margin:0;
	padding:0 0 20px;
	text-align: center;
	font-size:20px;
 }
 
 .loginbox p{
	margin:0;
	padding:0;
	font-weight: bold;
} 

 .loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

 .loginbox input[type="text"] , input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 12px;	
 }
 
 .loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px; 
 }
 
 .loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.card-holder{
  display:flex;
}

     
  .card {
    display:grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 18px;
    background: rgb(61, 56, 56);
    opacity: .75;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    
    text-align: center;
    
  
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
  .card-image {
    grid-area: image;
    background: url("img1.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: rgb(255, 255, 255);
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(192, 0, 0);
  }
  .card-stats .stat {
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  .card-stats .border {
    border-left: 1px solid rgb(172, 26, 87);
    border-right: 1px solid rgb(172, 26, 87);
  }
  .card-stats .value{
    font-size:22px;
    font-weight: 500;
  }
  .card-stats .value sup{
    font-size:12px;
  }
  .card-stats .type{
    font-size:11px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  
  /*card2*/
  .card-image.card2 {
    background: url("img2.jpg");
    background-size: cover;
  }
  .card-text.card2 .date {
    color: rgb(255, 77, 7);
  }
  .card-stats.card2 .border {
    border-left: 1px solid rgb(185, 67, 20);
    border-right: 1px solid rgb(185, 67, 20);
  }
  .card-stats.card2 {
    background: rgb(255, 77, 7);
  }
  /*card3*/
  .card-image.card3 {
    background: url("img3.jpg");
    background-size: cover;
  }
  .card-text.card3 .date {
    color: rgb(0, 189, 63);
  }
  .card-stats.card3 .border {
    border-left: 1px solid rgb(14, 122, 50);
    border-right: 1px solid rgb(14, 122, 50);
  }
  .card-stats.card3 {
    background: rgb(0, 189, 63);
  }
  




  
  @media screen and (max-height: 440px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
	.loginbox{width:250px;
	height:360px}
  }